body {
    font-family: $korean;
    font-size: x-large;
    padding: 2em;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

// Viewport size handler
@media all and (min-width: $medium) {
    .aside {flex: 1 0 0;}
}

// Viewport size handler
@media all and (min-width: $large) {
    .main       {flex: 3 0px; }
    .aside-1    {order: 1; }
    .main       {order: 2; }
    .aside-2    {order: 3; }
    .footer     {order: 4; }
}