//Color Palette
$peach:      #F8B195;
$pink:       #F67280;
$burgendy:   #C06C84;
$purple:     #6C5B7B;
$navy:       #355C7D;

//Fonts
$korean:    'Cute Font', cursive;
$english:   'Roboto', sans-serif;

//Screen Size
$large:     '800px';
$medium:    '600px';