<html>
    <head>
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <link rel="stylesheet" type="text/css" href="static/style.css" />
        <title>Commuter App</title>
    </head>

    <body>
        <div class="wrapper">
            <!-- Header -->
            <header class="header">
                <nav class="header-nav">
                    <ul>
                        <li><span class="branding">branding</span></li>
                        <li><a id="ledger-app">Ledger App</a></li>
                        <li><a id="commuter-app">Commuter App</a></li>
                        <li><a target="_blank" href="https://www.wmata.com/js/nexttrain/nexttrain.html#A02|Farragut%20North">Metro</a></li>
                        <li><a target="_blank" href="http://www.marctracker.com/PublicView/status.jsp">Marc</a></li>
                    </ul>
                </nav>
            </header>

            <!-- Article -->
            <article class="main" id="main">
                <p>Welcome Screen</p>
                <p>                    
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus eos corrupti consectetur at, reiciendis 
                    quis tempore incidunt quos officiis ducimus totam laboriosam fuga placeat, minima rem repellendus? 
                    Facilis, iste commodi.
                </p>
            </article>

            <!-- Aside -->
            <aside class="aside aside-1">Aside 1</aside>
            <aside class="aside aside-2">Aside 2</aside>

            <!-- footer -->
            <footer class="footer">
                    <b>Copyright - 2018</b>
            </footer>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/script.js"></script>
</html>