<html>
    <head>
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <title>Commuter App</title>
    </head>

    <body>
        <div class="wrapper">
            <!-- Header -->
            <header class="header">
                <nav class="header-nav">
                    <ul>
                        <li><span class="branding">branding</span></li>
                        <li><a id="ledger-app">Ledger App</a></li>
                        <li><a id="commuter-app">Commuter App</a></li>
                        <li><a target="_blank" href="https://www.wmata.com/js/nexttrain/nexttrain.html#A02|Farragut%20North">Metro</a></li>
                        <li><a target="_blank" href="http://www.marctracker.com/PublicView/status.jsp">Marc</a></li>
                    </ul>
                </nav>
            </header>

            <!-- Article -->
            <article class="main" id="main">
                <div class="container">
                    <div class="item item-current-month">Month of Febuary</div>
                    <div class="item item-total-expense">Total Expanse: $1003</div>
                    <div class="item item-current-date">Current Date: Feb 6 2019</div>
                    <div class="item item-date">Date</div>
                    <div class="item item-name">Item</div>
                    <div class="item item-category">Category</div>
                    <div class="item item-balance">Balance</div>
                    <div class="item item-payment-type">Payment Type</div>
                </div>
            </article>

            <!-- Aside -->
            <aside class="aside aside-1">Aside 1</aside>
            <aside class="aside aside-2">Aside 2</aside>

            <!-- footer -->
            <footer class="footer">
                    <b>Copyright - 2018</b>
            </footer>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/script.js"></script>
</html>